<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xsp.oauth.library.OAuthLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.library.Contributor" class="org.openntf.xsp.oauth.library.OAuthContributor" />
   </extension>
 <!--   <extension
          point="com.ibm.commons.Extension">
       <service
             type="com.ibm.xsp.adapter.servletFactory" class="org.openntf.xsp.oauth.servlet.ServletFactory">
       </service>
    </extension>
    -->
</plugin>
